<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profesores</title>
    <link rel="icon" href="img/profesor.jpg">
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <div class="main-content">
        {{>header}}
        {{>profesoresHeader}}
    <img class="portrait" src="/img/mar.jpg">
        <form id="Asignar">
            <input id='trabajador' name='trabajador' placeholder="ID Profesor">
            <input id='clave' name='clave' placeholder="Código de Curso">
            <button>Asignar</button>
        </form>
        <p id="message-1"></p>
    </div>
    {{>footer}}
    <script src="/js/asignarProfesor.js"></script>

</body>
</html>