
<div class="container">
    <div class="info">
      <h1>Gestión Escolar</h1><span>
      <link rel="stylesheet" href="/css/style.css"> 
    </div>
  </div>
  <div class="formLogin">
    <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>
    <form class="formLogin">
      <input type="matricula" placeholder="Matrícula"/>
      <input type="Contraseña" placeholder="Contraseña"/>
      <a href="/app" id= "Entrar">Entrar</a>
      <p class="message" onclick="location.href='http://localhost:3000'" >No estas registrado? <a href="/alumno/alta">Registrate aquí</a></p>
    </form>
  </div>