
<div class="container">
    <div class="info">
      <h1>Gestión Escolar</h1><span>
      <link rel="stylesheet" href="/css/style.css"> 
    </div>
  </div>
  <div class="formLogin">
    <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>
    <form  action="http://localhost:3000/api/validar/alumno" id= "Acceder" class="formLogin" method= "GET">
      
      <label for="matricula"></label><br>
      <input type="text" id="matricula" name="matricula" placeholder="Matrícula">

      <label for="registro"></label><br>
      <input name="registro" id='registro' type="text" placeholder="Contraseña"/>

      <button>Acceder</button>

      <p class="message" id="message-1"></p>
      <p class="message" onclick="location.href='http://localhost:3000'" >No estas registrado? <a href="/alumno/alta">Registrate aquí</a></p>
    </form>
  </div>
