<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profesores</title>
    <link rel="icon" href="img/profesor.jpg">
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <div class="main-content">
        {{>header}}
        {{>profesoresHeader}}
    <h2>Consultar mis datos</h2>
            <form id="Consultar">
                <input id='numeroEmpleado' name='numeroEmpleado' placeholder="ID Profesor">
                <button>Consultar</button>
            </form><br><br>
    </div>
    <div class="seccion2">
        <div class="subseccion21">
            <table id="Alumno" style="width:100%">   
                <tr>
                    <th style="width:60%">Nombre:</th>
                    <td id="nombre"></td>
                </tr>
                <tr>
                    <th>Apellido Paterno:</th>
                    <td id="apellidoPaterno"></td>      
                </tr>  
                <tr>
                    <th>Apellido Materno:</th>
                    <td id="apellidoMaterno"></td>
                </tr>
                <tr>
                    <th>Fecha de Nacimiento:</th>
                    <td id="fechaNacimiento"></td>
                </tr>
                <tr>
                    <th>Materia:</th>
                    <td id="materia"></td>
                </tr>
            </table>
        </div>
        <div class="subseccion22">
            <table style="width:80%">
                <caption>Contacto</caption>
                <tr>
                    <th style="width:23%">Teléfono:</th>
                    <td id="telefono"></td>
                </tr>
                <tr>
                    <th>Email:</th>  
                    <td id="email"></td>      
                </tr>  
            </table>
        </div>
        </div> <br>
        <div class="seccion3">
            <div class="subseccion31">
                <table id="tablaDireccion" style="width:100%">
                    <caption>Dirección</caption>  
                    <tr>
                        <th style="width:23%">Calle:</th>
                        <td id="calle"></td>
                    </tr>
                    <tr>
                        <th>Numero Interior:</th>  
                        <td id="numInterior"></td>      
                    </tr>
                    <tr>
                        <th>Tipo Unidad:</th>  
                        <td id="unidad"></td>      
                    </tr>
                    <tr>
                        <th>Numero Exterior:</th>  
                        <td id="numExterior"></td>      
                    </tr>
                    <tr>
                        <th>Ciudad:</th>  
                        <td id="ciudad"></td>      
                    </tr>
                    <tr>
                        <th>Estado:</th>  
                        <td id="estado"></td>      
                    </tr>
                    <tr>
                        <th>Colonia:</th>  
                        <td id="colonia"></td>      
                    </tr>
                </table>
            </div>
            <div class="subseccion32"></div>
        </div>

        <img class="portrait" src="/img/upiicsa.jpg">
    </div>
    {{>footer}}
    <script src="/js/obtenerProfesores.js"></script>
</body>
</html>