<header>
    <a href="http://localhost:3000/app/alumno/inscribir">Inscripción a Curso</a>
    <a href="http://localhost:3000/app/alumno/baja">Baja de curso</a>
    <a href="http://localhost:3000/app/alumno/contacto">Actualizar Contacto</a>
    <a href="http://localhost:3000/app/alumno/direccion">Actualizar Dirección</a>
</header>