<header>
    <a href="/alumno/inscribir">Inscripción a Curso</a>
    <a href="/alumno/baja">Baja de curso</a>
    <a href="/alumno/contacto">Actualizar Contacto</a>
    <a href="/alumno/direccion">Actualizar Dirección</a>
</header>