<header>
    <h1>{{title}}</h1>

    <a href="http://localhost:3000/app/alumnos">Alumnos</a>
    <a href="http://localhost:3000/app/profesores">Profesores</a>
    <a href="http://localhost:3000/app/cursos">Cursos</a>
    <a href="http://localhost:3000/app/ayuda">Ayuda</a>

</header>