<header>
    <a href="http://localhost:3000/app/profesor/asignar">Asignación de Curso</a>
    <a href="http://localhost:3000/app/profesor/contacto">Actualizar Contacto</a>
    <a href="http://localhost:3000/app/profesor/direccion">Actualizar Dirección</a>
</header>
